<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:replace="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu (buttons = ${ {{'link1','label1'},{'link2','label2'}} })">(menu)</nav>
            
            <a th:href="@{/cidade/novo}" class="btn btn-primary">Nova Cidade</a>

            <table class="table" >
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" th:each="umacidade : ${listaCidades}">
                        <td th:text="${umacidade.nome}"></td>
                        <td th:text="${umacidade.estado}"></td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="layout :: footer">(footer)</div>
    </body>
</html> 